@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    margin: 0;
}

body{
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}