@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #cc021c;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}

.hamburger{
position: fixed;
top: 1.5rem;
left: 2rem;
font-size: 2rem;
}

.phone{
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
}

.logo{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.logo i{
    font-size: 3rem;
}
.logo h2{
    margin: 0;
    font-weight: normal;
}

.logo p{
    margin: 0;
    color: #40020e;
    font-weight: bold;
}

.carousel-container{
    width: 100vw;
    position: relative;
    margin: 0%;
    height: 60vh;
}

.carousel{
    display: flex;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition:  transform 0.4s ease-in-out;
}

.slide{
    width: 100vw;
    text-align: center;
}

.slide img{
    object-fit: cover;
    width: 400px;
    height: 400px;
    margin-bottom: 0;
}

.slide h1{
margin: -6rem 0 1.5rem;
font-size: 5rem;
color: white;
}

.slide a{
    background-color: #40020e;
    padding: 1rem 2rem;
}

.arrow{
background-color: transparent;
position: absolute;
top: 40%;
cursor: pointer;
font-size: 4rem;
border: none;
opacity: 0.5;
transform: translateY(-50%);
}

.left-arrow{
left: 2rem;
}

.right-arrow{
right: 2rem;
}