@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    width: 1000px;
}

header{
    background-image: url("../images/car-bg.jpg");
    color: white;
    display: flex;
    min-height: calc(100vh - 5rem);
    background-size: cover;
    background-position: right;
    flex-direction: column;
}

.content{
    margin: auto;
    font-size: 1.5rem;
}

.content h1{
    color: #00c2ff;
    margin-bottom: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav .logo{
    font-size: 2.5rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li a{
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.selected{
    font-weight: bold;
}

.highlight{
    background-color: #00c2ff;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

footer{
height: 5rem;
background-color: black;
color: white;
padding: 1.5rem;
}

footer ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer strong{
    color: #00c2ff;
}

footer p {
    margin: 0;
}