@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

.col img{
    width: 100%;
    max-width: 350px;
}

.col .image-container{
    position: relative;
}

.col .image-container::after{
    content: "";
    border: 20px solid white;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(-45deg);
    height: 0;
    width: 0;
}

nav{
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    padding: 1.5rem 0;
}

.logo{
    font-size: 2.5rem;
}

.logo i{
    font-size: 4rem;
    display: block;
    margin-bottom: 0.5rem;
}


button{
    background-color: white;
    border: 0;
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    cursor: pointer;
}

.container{
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    padding: 2rem;
    width: 33%;
    text-align: center;
    font-size: 1.1rem;
}

.col h2{
    margin: 0;
    margin-top: 0.25rem;
}

.green{
color: #00d69f;
}

.red{
color: #e75050;
}

.orange{
color: #d27752;
}

@media screen and (max-width: 700px) {
    nav button{
        display: none;
    }

    nav{
        justify-content: center;
    }

    .col{
        width: 100%;
    }
}