html{
    margin: 0;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    border-right: solid rgba(0,22,22,0.4);
}

#navbar header{
font-size: 2rem;
padding: 1rem;
}

#navbar ul{
    list-style-type: none;
    padding: 0;
    overflow: scroll;
    height: 90%;
}

#navbar ul li{
    padding: 1rem 2rem;
    border-top: 1px solid #444;
}

#navbar ul li a{
    text-decoration: none;
    color: #444;
}

#main-doc{
    margin-left: 310px;
    padding: 2rem;  
}