@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #be3144;
    border: 0;
}

nav ul{
display: flex;
list-style-type: none;
justify-content: flex-end;
margin: 0;
}

nav ul li{
    padding: 1rem;
}

.nav-links{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

li:hover{
    background-color:#45567d;
}

.welcome-section{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(62deg, #3a3d40, #181719);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-section h1{
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: white;
}

.welcome-section p{
    color: #be3144;
    font-size: 2rem;
    font-style: italic;
    margin: 0;
    font-weight:100;
}

.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #45567d;
    padding: 6rem 2rem;
}

.projects-section h2{
    margin: 0 0 3rem;
    padding: 0;
    font-size: 2.5rem;
    font-weight: bolder;
    border-bottom: 2px solid white;
    color: white;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 2rem;
    width: 100%;
    text-align: center;
}

.projects-grid img{
    width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    background-color: yellow;
}

.project-tile{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.project-tile p{
    margin: 0;
    padding: 1rem 0.5rem;
    background-color: #303841;
    border-radius: 4px;
}

.code{
    color: #303841;
    transition: color 0.4s ease-in-out;
    font-weight: 900;
}

.project-tile p:hover .code{
    color: #be3144;
}

.projects-section > a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    background-color: #303841;
    padding: 0.5rem 1rem;
    transition: background-color 0.4s ease-in-out;
    margin-top: 4rem;
}

.projects-section > a:hover{
    background-color: #be3144;
}

.projects-section > a i{
    padding-right: 0.3rem;
    padding-left: 0.4rem;
    transition: padding 0.4s ease-in-out;
}

.projects-section > a:hover i{
    padding-left: 0.7rem;
    padding-right: 0rem;
}