@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #e5e5e5;
    padding: 1rem 2rem;
}

header .logo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: 900;
}

.logo i{
    margin-right: 2rem;
    font-size: 3rem;
}

.logo p{
    margin-bottom: 0;
}

img{
    width: 100%;
    max-width: 350px;
}

nav{
    margin: 0rem auto;
}

nav .date{
    font-size: 1.2rem;
    align-self: flex-start;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.5rem;
    width: 100%;
    max-width: 1200px;
}

nav a{
    text-decoration: none;
    color: black;
}

.row{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.col{
    width: 100%;
    max-width: 400px;
    margin: 1rem;
}

.mr{
    border-right: 2px solid #c4c4c4;
    padding-right: 1rem;
}

.col h3{
    margin-top: 0;
}

@media screen and (max-width: 700px) {
    nav ul{
        flex-direction: column;
        line-height: 1.5;
    }

    .row{
        flex-direction: column;
    }

    .col{
        max-width: 100%;
    }

    .mr{
        border-right: 0;
        padding-right: 0;
        border-bottom: 2px solid #c4c4c4;
        padding-bottom: 1rem;
    }
}