@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    margin: 0;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    /* margin: 0rem 2rem; */
    padding: 1rem 5rem 1rem 2rem;
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: #eee;
}

.logo{
    width: 60vw;
}

img{
    width: 100%;
    max-width: 300px;
}

ul{
    display: flex;
    width: 30vw;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 1rem 2rem;
}

ul .nav-link{
    text-decoration: none;
    color: black;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 4rem;
}

section form{
    text-align: center;
}

input[type="email"]{
    width: 275px;
    padding: 0.25rem;
}

input[type="submit"]{
    margin: 1rem;
    padding: 0.25rem 1rem;
    background-color: #f1c40f;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.features{
    padding: 2rem;
}

.features .grid{
display: flex;
justify-content: center;
align-items: center;
margin: 2rem 0;
}

.grid .logo{
width: 15vw;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.logo i{
    color: darkorange;
}

.grid .grid-content{
    width: 60vw;
    font-size: 1rem;
}

.grid-content h2{
    margin-bottom: 0;
}

.grid-content p{
    margin: 0 0 1rem 0;
}

.youtube{
    text-align: center;
    margin-bottom: 4rem;
}

.pricing{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
    width: 80%;
}

.price-card{
    width: 310px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0.5rem;
}

.price-card h3{
    background-color: #ddd;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.price-card #price{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem;
}

.price-card p{
    margin: 0;
    line-height: 2;
}

.price-card .select-button{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: #f1c40f;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

footer{
    display: flex;
    justify-content: center;
}

.footer{
    width: 75%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links{
    text-align: center;
    padding: 1.1rem;
    font-size: 1rem;
}

.links a{
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
}

.links p{
    margin: 0;
    padding-top: 0.25rem;
    color: #444;
    font-size: 0.9rem;
}

@media screen and (max-width: 786px) {
    ul{
        flex-direction: column;
        align-items: center;
        line-height: 1.5;
    }

    section{
        margin-top: 8rem;
    }

    .pricing{
        flex-direction: column;
        align-items: center;
    }

    .price-card{
        width: 50%;
        min-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    header{
        flex-direction: column;
    }

    section{
        margin-top: 10rem;
    }
}