@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    margin: 0;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

header {
    display: flex;
    align-items: center;
    margin: 1rem 2rem;
    justify-content: space-between;
}

.logo{
    width: 60vw;
}

img{
    width: 40%;
}

ul{
    display: flex;
    width: 30vw;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 1rem 2rem;
}

ul a{
    text-decoration: none;
    color: black;
}